<br/>   
<ul class="nav nav-sidebar nav-pills nav-stacked" data-ng-controller="SubmenuCtrl">
	<li data-ng-class="{'active':getClass('/nastavenia/druhymenu')}"><a href="#/nastavenia/druhymenu">Druhy menu</a></li>
	<li data-ng-class="{'active':getClass('/nastavenia/kategorie_jedal')}"><a href="#/nastavenia/kategorie_jedal">Kategóre v menu</a></li>
	<li data-ng-class="{'active':getClass('/nastavenia/ingrediencie')}"><a href="#/nastavenia/ingrediencie">Ingrediencie</a></li>
<!-- 	<li data-ng-class="{'active':getClass('/nastavenia/typycien')}"><a href="#/nastavenia/typycien">Typy cien</a></li> -->
	<li data-ng-class="{'active':getClass('/nastavenia/porcie')}"><a href="#/nastavenia/porcie">Porcie a množstvá</a></li>
	<li data-ng-class="{'active':getClass('/nastavenia/alergeny')}"><a href="#/nastavenia/alergeny">Alergény</a></li>
	<li data-ng-class="{'active':getClass('/nastavenia/pouzivatelia')}"><a href="#/nastavenia/pouzivatelia">Používatelia</a></li>
</ul>
<br/>