<div class="row">
	<div class="col-md-2">
		<div data-ng-include="'partials/menucfg.tpl.html'"></div>
	</div>
	<div class="col-md-10">
		<h1>Druhy menu</h1>
		<table class="table" ng-init="predicate='shname'; reverse=false">
			<thead>
				<tr>
					<th class="col-md-1">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-picture" aria-hidden="true"></span></th>
					<th><a href="" ng-click="predicate='shname'; reverse=!reverse">Skratka</a></th>
					<th><a href="" ng-click="predicate='lgname'; reverse=!reverse">Názov</a></th>
					<th><a href="#/nastavenia/menu"><i class="glyphicon glyphicon-plus"></i></a></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items | filter:search |  orderBy:predicate:reverse">
					<td><img ng-src="../api/index.php/picture/{{item.idmedia}}/small" alt="picture"></td>
					<td>{{item.shname}}</td>
					<td>{{item.lgname}}</td>
					<td>
						<a ng-href="#/nastavenia/menu/{{item.id}}"><i class="glyphicon glyphicon-pencil"></i></a>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>
</div>